<!-- <div class="navbar">
    <div class="subtle-shadow py-2">
        <div class="container">
            <div class="title">Header Title</div>
        </div>
    </div>
</div> -->


<mat-toolbar color="primary" class="fixed-navbar">
    <mat-toolbar-row class="subtle-shadow">
        <button mat-icon-button (click)="toggleMainSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Jake Minecraft</span>
        <span class="header-spacer"></span>
        <button mat-icon-button (click)="toggleTheme()">
            <mat-icon *ngIf="!this.isDarkMode">brightness_low</mat-icon>
            <mat-icon *ngIf="this.isDarkMode">brightness_high</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>